package api

import (
	"github.com/gin-gonic/gin"
	"log"
	"study.com/demo-sqlx-pgx/api/request"
	"study.com/demo-sqlx-pgx/api/response"
	"study.com/demo-sqlx-pgx/service"
)
{{$businessName := .Business}}
{{$businessNameNote := .BusinessNote}}
{{$businessNamePath := .BusinessPath}}
{{- if eq .ListAll true }}
// {{$businessName}}ListAll godoc
// @Summary      {{$businessNameNote}}列表查询
// @Description  获取所有{{$businessNameNote}}信息
// @Tags         {{$businessNameNote}}
// @Accept       json
// @Produce      json
// @Success      200       {object}  response.RestRes{data=model.{{$businessName}}Response}
// @Failure      500       {object}  response.RestRes
// @Router       /{{$businessName | toLowerCamel}}/list [get]
func {{$businessName}}ListAll(ctx *gin.Context) {{print "{"}}
	res, err := service.{{$businessName}}List(ctx)
	if err != nil {
		response.ErrorMsg(ctx, err.Error())
		return
	}

	response.SuccessData(ctx, res)
{{print "}"}}
{{- end }}

// {{$businessName}}Page godoc
// @Summary      {{$businessNameNote}}分页查询
// @Description  分页获取所有{{$businessNameNote}}信息
// @Tags         {{$businessNameNote}}
// @Accept       json
// @Produce      json
// @Success      200       {object}  response.RestRes{data=model.{{$businessName}}Response}
// @Failure      500       {object}  response.RestRes
// @Router       /{{$businessName | toLowerCamel}}/p [post]
func {{$businessName}}Page(ctx *gin.Context) {
	var req request.PaginationRequest
	if err := ctx.BindQuery(&req); err != nil {
		response.ErrorValid(ctx, err)
		return
	}

	total, res, err := service.{{$businessName}}Page(ctx, req)
	if err != nil {
		response.ErrorMsg(ctx, err.Error())
		return
	}

	response.SuccessPage(ctx, total, res)
}

// {{$businessName}}Create godoc
// @Summary      {{$businessNameNote}}新增
// @Description  {{$businessNameNote}}新增信息
// @Tags         {{$businessNameNote}}
// @Accept       json
// @Produce      json
// @Param        req  body     request.{{$businessName}}CreateRequest  true  "新增{{$businessNameNote}}信息"
// @Success      200       {object}  response.RestRes
// @Failure      500       {object}  response.RestRes
// @Router       /{{$businessName | toLowerCamel}} [post]
func {{$businessName}}Create(ctx *gin.Context) {
	var req request.{{$businessName}}CreateRequest
	if err := ctx.ShouldBindJSON(&req); err != nil {
		response.ErrorValid(ctx, err)
		return
	}
	err := service.{{$businessName}}Create(ctx, req, GetLoginUserName(ctx))
	if err != nil {
		response.ErrorMsg(ctx, err.Error())
		return
	}
	response.Success(ctx)
}

// {{$businessName}}Update godoc
// @Summary      {{$businessNameNote}}更新
// @Description  {{$businessNameNote}}更新信息
// @Tags         {{$businessNameNote}}
// @Accept       json
// @Produce      json
// @Param        req  body     request.{{$businessName}}UpdateRequest  true  "更新{{$businessNameNote}}信息"
// @Success      200       {object}  response.RestRes
// @Failure      500       {object}  response.RestRes
// @Router       /{{$businessName | toLowerCamel}} [put]
func {{$businessName}}Update(ctx *gin.Context) {
	var req request.{{$businessName}}UpdateRequest
	if err := ctx.ShouldBindJSON(&req); err != nil {
		response.ErrorValid(ctx, err)
		return
	}
	err := service.{{$businessName}}Update(ctx, req, GetLoginUserName(ctx))
	if err != nil {
		response.ErrorMsg(ctx, err.Error())
		return
	}
	response.Success(ctx)
}

// {{$businessName}}Delete godoc
// @Summary      {{$businessNameNote}}伪删除
// @Description  {{$businessNameNote}}信息伪删除
// @Tags         {{$businessNameNote}}
// @Accept       json
// @Produce      json
// @Param        id   path      int  true  "标识"
// @Success      200       {object}  response.RestRes
// @Failure      500       {object}  response.RestRes
// @Router       /{{$businessName | toLowerCamel}}/:id [delete]
func {{$businessName}}Delete(ctx *gin.Context) {
	var req request.ByIdRequest
	if err := ctx.ShouldBindUri(&req); err != nil {
		response.ErrorValid(ctx, err)
		return
	}

	err := service.{{$businessName}}DeleteFake(ctx, req.Id, GetLoginUserName(ctx))
	if err != nil {
		response.ErrorMsg(ctx, err.Error())
		return
	}

	response.Success(ctx)
}

// {{$businessName}}Detail godoc
// @Summary      {{$businessNameNote}}详情
// @Description  {{$businessNameNote}}详情信息
// @Tags         {{$businessNameNote}}
// @Accept       json
// @Produce      json
// @Param        id   path      int  true  "标识"
// @Success      200       {object}  response.RestRes{data=model.{{$businessName}}Response}
// @Failure      500       {object}  response.RestRes
// @Router       /{{$businessName | toLowerCamel}}/:id [get]
func {{$businessName}}Detail(ctx *gin.Context) {
	var req request.ByIdRequest
	if err := ctx.ShouldBindUri(&req); err != nil {
		response.ErrorValid(ctx, err)
		return
	}
	res, err := service.{{$businessName}}Detail(ctx, req.Id)
	if err != nil {
		response.ErrorMsg(ctx, err.Error())
		return
	}
	response.SuccessData(ctx, res)
}