package internal

import (
	"context"
    "study.com/demo-sqlx-pgx/api/request"
)
{{- $businessName := .Biz.Business}}
{{- $businessComment := .Biz.BusinessComment}}
{{- $businessPath := .Biz.Business | toLowerCamel}}
{{- $tableName := .Biz.TableName}}
{{- $tableComment := .Biz.TableComment}}
{{$tableSchema := .Biz.TableName | toUpperCamel}}
// Querier{{$businessName}} 业务接口
type Querier{{$businessName}} interface {
    {{$businessName}}Create(ctx context.Context, req request.{{$businessName}}CreateRequest, username string) (int64, error)
    {{$businessName}}CreateBatch(ctx context.Context, req []request.{{$businessName}}CreateRequest, username string) (int64, error)
    {{$businessName}}Update(ctx context.Context, req request.{{$businessName}}UpdateRequest, username string) (int64, error)
    {{$businessName}}Delete(ctx context.Context, id int64) (int64, error)
    {{$businessName}}DeleteFake(ctx context.Context, id int64, username string) (int64, error)
    {{$businessName}}Detail(ctx context.Context, id int64) ({{$tableSchema}}, error)
    {{$businessName}}Page(ctx context.Context, req request.PaginationRequest) (int64, []{{$tableSchema}}, error)
    {{$businessName}}List(ctx context.Context) ([]{{$tableSchema}}, error)
    {{$businessName}}ListByIds(ctx context.Context, ids string) ([]{{$tableSchema}}, error)
}