package internal

import (
	"time"
)
{{- $businessName := .Biz.Business}}
{{- $businessComment := .Biz.BusinessComment}}
{{- $businessPath := .Biz.Business | toLowerCamel}}
{{- $tableName := .Biz.TableName}}
{{- $tableComment := .Biz.TableComment}}
{{$tableSchema := .Biz.TableName | toUpperCamel}}
// {{$tableSchema}} {{$tableComment}}
type {{$tableSchema}} struct {
{{- range $index, $element := .Columns}}
    {{$element.ColumnName | toUpperCamel}}
    {{- if eq $element.DataType "varchar"}} string
    {{- else if eq $element.DataType "timestamp"}} time.Time
    {{- else if eq $element.DataType "int4"}} int64
    {{- else if eq $element.DataType "int8"}} int64
    {{- else if eq $element.DataType "text"}} string
    {{- end}} `json:"{{$element.ColumnName | toLowerCamel}}" db:"{{$element.ColumnName}}"` // {{- if $element.ColumnComment.Valid }}{{$element.ColumnComment.String}}{{- end }}
{{- end }}
}